/* body{

    background-color: rgb(206, 189, 200);

} */

#header{

    background-color: aliceblue;
}
#first-section{

    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

#second-section{
    display: flex;
    justify-content: center;
}

.display-4{

   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(42, 73, 114);
    
}

.nav-item{
    font-family: 'Gotu', sans-serif;
    font-size: 24px;
}

.card{

    width: 300px;
    
}

.card-img-top{

    width: 100%;
}